@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/static/Inconsolata-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/static/Inconsolata-Bold.ttf');  
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/static/Inconsolata-ExtraBold.ttf');  
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  font-family: 'Inconsolata';
  font-size: 20px;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px ) {
  .conf-logo {
    width: 200x;
    height: 25px;
  }  
}
.bg-image {
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/background-desktop.png);
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px ) {
  .bg-image{
    background-image: url(./assets/images/background-tablet.png);
    background-size: cover;
  }
}
@media screen and (max-width: 500px ) {
  .bg-image{
    background-image: url(./assets/images/background-mobile.png);
    background-size: cover;
  }
}
.pattern-image-1 {
  position: absolute;
  right: 0px;
  top: 60px;
}
.pattern-image-2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.container {
  background: url('./assets/images/pattern-lines.svg');
  width: 100%;
  height: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.head {
  margin-top: 20px;
}
.form-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  h1 {
    font-family: 'Inconsolata';
    font-size: 48px;
    margin-bottom: 0px;
  }
}
@media  (width <= 600px ) {
  .form-head {
    h1 {
      font-size: 28px;
    }
  }
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  .normal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    height: 70px;
    width: 100%;
    input{
      width: 100%;
      height: 40px;
      /* background-color: transparent; */
      border: 1px solid rgb(124, 124, 124);
      border-radius: 10px;
      padding-left: 10px;
      font-family: 'Inconsolata';
      color: white;
    }
  }
}
.preview-image {
  width: 60px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 4px;
}
.avatar {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.flex {
  display: flex;
  gap: 6px;
}
.avatar-info {
  font-size: 10px;
  color: rgb(159, 159, 159);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 7px;
}
.error {
  font-size: 10px;
  color: hsl(7, 88%, 67%);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 7px;
}
.avatar-label {
  width: 100%;
  height: 100px !important;
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px dashed rgb(131, 131, 131);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  .upload-image {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 4px;
    padding: 10px;
  }
}

.avatar-input {
  display: none;
}
input {
  background-color: rgba(255, 255, 255, 0.119);
}
imput:focus {
  outline: 1px solid white;
  outline-offset: 6px;
}
.generate-ticket-btn {
  background-color: hsl(7, 71%, 60%);
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: 'Inconsolata';
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 700;
}
a {
  width: 100%;
}
.ticket {
  width: 90%;
  max-width: 450px;
}
.ticket {
  background-image: url('./assets/images/pattern-ticket.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 134px;
  height: 214px;
  position: relative;
}
.ticket-number {
  position: absolute;
  transform: rotate(90deg);
  top: 70px;
  right: 10px;
  color: rgb(126, 126, 126);
}
.ticket-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: space-between;
  /* gap: 30px; */
}
.conf-info {
  margin-left: 16px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  p {
    /* style="font-size: 12px;margin-left: 46px;" */
    font-size: 12px;
    margin-left: 46px;
  }
}
.user-info {
  /* height: 70px; */
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.user-avatar {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.user-image {
  width: 60px;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  p {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    margin: 0;
  }
}
@media ( width <= 400px ) {
  .ticket {
    height: 150px;
  }
  .user-image {
    width: 40px;
  }
  .user-details {
    p {
      font-size: 12px;
    }
  }
  .conf-image {
    width: 120px;
  }
  .conf-info {
    p {
      font-size: 10px;
      margin-left: 24px;
    }
  }
}
.user-name {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  background: -webkit-linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}